
/ClientGrpcService2/ClientGrpcService2/obj/Debug
/GrpcService1/GrpcStationService/obj
/ClientGrpcService2/.vs/ClientGrpcService2/v17
/ClientGrpcService2/.vs
/ClientGrpcService2/ClientGrpcService2/.vs/ClientGrpcService2/v17
ClientGrpcService2/ClientGrpcService2/.vs/ClientGrpcService2/FileContentIndex/1439f282-4522-47f0-96f5-978818143bdf.vsidx
/ClientGrpcService2/ClientGrpcService2/.vs
.vs/slnx.sqlite
/.vs
/ClientGrpcService2/ClientGrpcService2/obj
/Interface/GrpcWinFormsClient/obj
/Interface/.vs
/Interface/GrpcWinFormsClient/.vs