
/ClientGrpcService2/ClientGrpcService2/obj/Debug
/GrpcService1/GrpcStationService/obj
/ClientGrpcService2/.vs/ClientGrpcService2/v17
/ClientGrpcService2/.vs
/ClientGrpcService2/ClientGrpcService2/.vs/ClientGrpcService2/v17
ClientGrpcService2/ClientGrpcService2/.vs/ClientGrpcService2/FileContentIndex/1439f282-4522-47f0-96f5-978818143bdf.vsidx
/ClientGrpcService2/ClientGrpcService2/.vs
.vs/slnx.sqlite
/.vs
/ClientGrpcService2/ClientGrpcService2/obj
/Interface/GrpcWinFormsClient/obj
/Interface/.vs
/Interface/GrpcWinFormsClient/.vs
# Папки и файлы системы сборки
bin/
obj/
# Системные файлы
.DS_Store
Thumbs.db
desktop.ini
$RECYCLE.BIN/
# Автоматически сгенерированные файлы
*.g.cs
*.g.i.cs
*.designer.cs
# Пользовательские настройки
*.DotSettings.user
*.vs/
.vsconfig
# Конфигурация и отладка
*.db
*.cache
*.pdb
*.mdb