
/ClientGrpcService2/ClientGrpcService2/obj/Debug
/GrpcService1/GrpcStationService/obj
/ClientGrpcService2/.vs/ClientGrpcService2/v17
/ClientGrpcService2/.vs
/ClientGrpcService2/ClientGrpcService2/.vs/ClientGrpcService2/v17
ClientGrpcService2/ClientGrpcService2/.vs/ClientGrpcService2/FileContentIndex/1439f282-4522-47f0-96f5-978818143bdf.vsidx
/ClientGrpcService2/ClientGrpcService2/.vs
.vs/slnx.sqlite
/.vs
/Interface/.vs
/Interface/GrpcWinFormsClient/.vs
# NuGet пакеты
*.nupkg
*.snupkg
packages/
project.lock.json
project.fragment.lock.json
*.nuget.props
*.nuget.targets
# Файлы и папки, создаваемые при запуске
*.log
*.tlog
*.tmp
*.pidb
*.svclog

# Папки и файлы системы сборки
**/bin/
**/obj/
# Конфигурация и отладка
*.db
*.cache
*.pdb
*.mdb
# Пользовательские настройки
*.DotSettings.user
.vs/
.vsconfig
# Автоматически сгенерированные файлы
*.g.cs
*.g.i.cs
# Временные файлы
*.bak
*.swp
*.orig
*.tmp
~$*
# Системные файлы
.DS_Store
Thumbs.db
desktop.ini
$RECYCLE.BIN/

# Исключение для Form1.Designer.cs
!**/Form1.Designer.cs